body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
}
.container-fluid {
    padding:7% 15%;
}
#title {
    text-align: left;
    background-color: #687EFF;
    color: white;
}
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;  
}

/* Navigatiion bar*/
.navbar {
    padding: 0 0 4.5rem;
    
}

.navbar-brand {
    font-family: 'ubuntu', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

/* download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
    width: 100%;
    border-radius: 100%;
    background-color: #687EFF;
    box-shadow: 0 4px 2px -2px #80B3FF;
    
    
}
.row {
    margin-top: 3%;
}

/* features */

#features {
    padding: 7% 7%;
    margin: 7%;
    background-color: white;
    position:relative;
    
    
}

.feature-box {
    padding: 5%;
}
.feature-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.icon {
    font-size: 50px;
    margin-bottom: 1rem;
    color: #80B3FF;
}

.icon:hover {
    color: #687EFF;
}

/* testimonial */
#testimonials {
    background-color: #80B3FF;
    color: #fff;
}
.testimonial-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* press */
#press {
    background-color: #80B3FF;
    padding-bottom: 3%;
}
.press-logo {
    width:15%;
    margin: 20px 20px 50px;
}
/* Pricing section` */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding:3% 2%;
}
.pricing-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.pricing-name {
    font-weight: 700;
    font-size: 1.5rem;
}

/* call to action */
#cta {
    background-color: #687EFF;
    color: white;
}



/* footer */
.icons {
    color: black;
    padding: 0.5rem;
}
.icons:hover{
    color: #687EFF;
}

/* media query */
@media  (max-width: 667px) {
    #title{
        text-align: center;
    }
    .big-heading {
        font-size: 2rem;
    }
    #title-image{
        position: static;
    }
}
@media  (min-width:673px) and (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
    }
}
